@import './variables';
:root {
	font-family: 'Poppins', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.87);
	background-color: #fff;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
.card {
	width: 90%;
	max-width: 500px;
	background: linear-gradient(45deg, #0c53ae, #319fe7);
	color: #fff;
	border-radius: 1.5rem;
	padding: 2rem;
	margin: 6rem auto 0;
	text-align: center;
	&__search {
		display: flex;
		justify-content: center;
		align-items: center;
		&-input {
			border-radius: 2rem;
			border: 2px solid $border-color;
			outline: 0;
			background-color: rgba(255, 255, 255, 0.2);
			height: 3rem;
			padding: 0 2rem;
			width: 100%;
			text-align: center;
			color: #fff;
			transition: 0.3s ease-in-out;
			&:focus {
				background-color: rgba(255, 255, 255, 0.6);
				color: #444444;
			}
		}
	}
	&__icon {
		font-size: 8rem;
	}
	&__temp {
		font-size: 2rem;
	}
	&__detail {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 1rem;
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 1rem;
		width: 50%;
		gap: 1rem;
		&-icon {
			font-size: 3rem;
		}
		&-value {
			text-align: left;
			& p:first-child {
				font-size: 1.5rem;
			}
		}
	}
	&__data {
		margin-top: 3rem;
		display: flex;
		flex-direction: column;
		gap: 4rem;
		&-bottom {
			display: flex;
			flex-direction: row;
			justify-content: center;
			gap: 1rem;
			align-items: center;
		}
	}
}
